// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text.
// -----------------------------------------------------------------------------

html
    font-size: $size

body
    font-family: $fonts
    font-size: 1.8rem

.nav-content-main
    font-size: 1.6rem
    letter-spacing: -1px

.register, .login
    font-size: 1.4rem
