// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header
    padding: 3rem 4rem
    display: flex

    .logo-main
        height: 3rem
        width: 8.5rem

nav, ul
    display: flex

nav
    width: 100%
    justify-content: space-between

.nav-content-main
    margin-left: 6.1rem

    > li
        margin-right: 3.8rem

    img
        display: inline-block
        margin-left: 5px

.hide
    display: none

.dd
    position: relative

.drop-down
    position: absolute
    flex-direction: column
    background-color: white
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2)
    border-radius: 10px
    padding-top: 2rem
    row-gap: 8px
    top: 40px

.dd1
    padding-left: 1.7rem
    left: -72px
    width: 152px
    height: 160px

    img
        margin-right: 1.4rem

.dd2
    padding-left: 2.5rem
    width: 118px
    height: 128px

.register, .login
    display: inline-block
    position: relative
    top: -9px

.login
    margin-right: 4rem

.register
    padding: 0.9rem 2.1rem
    border: 2px solid currentcolor
    border-radius: 1.4rem
